.each-faq-container {
  border-style: solid;
  padding: 5px;
  border-width: 1px;
  border-color: #e4e7eb;
  margin-bottom: 15px;
  border-radius: 10px;
}

.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questionText {
  font-size: 20px;
  margin-right: 30px;
}

.button {
  border-width: 0px;
  background-color: transparent;
}

.answerText {
  font-size: 13px;
}
